@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Righteous&family=Roboto:wght@100;500&display=swap');
:root {
    --backgroundColor: #202020;
    --menuColor: #101010;
    --add: #46cdec;
    --remove: rgb(87, 1, 148);
    --checkedColor: #17569990;
    --fontColor: #46cdec;
}
.highlight {
    animation: borderAnimation 2s infinite;
}
@keyframes borderAnimation {
    0% {border: 1px dashed transparent}
    50% {border: 1px dashed rgba(83, 83, 83, 0.438)}
    100% {border: 1px dashed transparent}
}
.removeAlert {
    position: fixed;
    top: 200px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(93, 93, 93);
    z-index: 6;
    padding: 40px;
    text-align: center;
    display: none;
}
.removeAlert h1 {
    font-size: 25px;
    margin-bottom: 40px;
}
.removeAlert button {
    width: 100px;
    padding: 5px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: scroll;
    background-color: var(--backgroundColor);
}
#image {
    max-width: 200px;  
}
.titel {   
    width: 200px;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px 0;
}
h2 {
    text-align: center;
    font-size: 30px;
    color: var(--fontColor);
}
main {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(111, 111, 111);
    border-top: 1px solid rgb(111, 111, 111);
}
.flex-align-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editPopup {
    position: fixed;
    border: 1px solid rgb(181, 181, 181);
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius: 20px;
    padding-bottom: 50px;
    z-index: 5;
    display: none;
}
.editPopup h1 {
    font-size: 25px;
}
.cross {
    display: inline;
    float: right;
    font-size: 20px;
}
.cross:hover {
    cursor: pointer;
}
#apply {
    bottom: 15px;
    background: var(--add);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
}
#remove {
    bottom: 15px;
    background: var(--remove);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
}

/* -------------------------------------------- */

.side-menu {
    padding: 30px;
    background: var(--menuColor);
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 0 10px 10px 0;
    padding-right: 50px;
    color: var(--fontColor);
}
.inputs {
    display: flex;
    flex-direction: column;
}
.inputs input {
    color: white;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.452);
}
#colorPicker {
    outline: 1px solid white
}
#colorPicker:hover, #backgroundPicker:hover {
    cursor: pointer;
}
#ownText {
    width: 280px;
    max-width: 280px;
    height: 50px;
    max-height: 250px;
    overflow-y: scroll;
    font-size: .8em;
    background: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    padding: 10px;
    transition: .25s linear;
    color: var(--fontColor);
}
#ownText::placeholder {
    color: #46cdec81;
}
#ownText:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.453);
}
.hover {
    display: flex;
    cursor: pointer;
    border-radius: 5px; 
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    transition: .25s ease-out;
}
.hover h3 {
    font-weight: 100;
    font-size: 16px;
}
.hover:hover {
    border: 1px solid rgba(255, 255, 255, 0.453);
}
.dropDown, .backgroundDropDown, .styleDropDown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 300px;
    transition: .25s ease-out;
}
.element, .background, .style {
    transition: .25s ease-out;
}
.element:hover .elementDropDown {
    visibility: visible;
    opacity: 1;
}
.element:hover {
    margin-bottom: 170px;
}
.background:hover .backgroundDropDown {
    visibility: visible;
    opacity: 1;
}
.background:hover {
    margin-bottom: 100px;
}
.style:hover .styleDropDown {
    visibility: visible;
    opacity: 1;
}
.style div:not(.flex-align-vertical, .styleDropDown, .hover, .withBorder, .noBorder) {
    border-bottom: 1px solid rgba(34, 34, 34, 0.49);
    padding-bottom: 10px;
}
.style:hover {
    margin-bottom: 520px;
}
.background {
    position: relative;
}
.align-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.49);
    padding-top: 20px;
}
input[type="color"] {
    width: 130px;
    height: 25px;
}
.addFile { 
    width: 130px;
    height: 18px;
    border: none;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
    text-align: center;
    border: 1px solid grey;
}
.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styleDropDown {
    padding-top: 20px;
    border-radius: 4px;
    padding: 10px;
    width: 280px;
    border: 1px solid white;
}

.dropDown label {
    justify-content: center;
    align-items: center;
    height: 30px;
    display: flex;
    border-bottom: 1px solid rgba(34, 34, 34, 0.49);
    padding-top: 10px;
}
input[type="radio"]:checked + label{
    border-radius: 3px;
    background-color: var(--checkedColor);
}
.dropDown label:hover, .fontStyle label:hover, .text-align label:hover, .elementBackground label:hover {
    background-color: rgba(145, 145, 145, 0.273);
    cursor: pointer;
}
input[type="radio"] {
    display: none;
}
.fontStyle label, .text-align label {
    border: 1px solid black;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}
.styleDropDown div {
    display: flex;
}
input[type="number"] {
    height: 17px;
    width: 40px;
}
.borderRadius, .paddingValue, .fontSize {
    justify-content: space-between;
} 
.elementBackground {
    justify-content: space-between;
}
.withBorder label {
    border: 1px solid black;
    width: 50px;
    text-align: center;
    border-radius: 3px;
}
.elementBackground label {
    line-height: 25px;
}
#borderRadius, #paddingValue, #fontSizeInput {
    background: none;
    padding-bottom: 5px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* -------------------------------------------- */

.buttons {
    text-align: center;
    margin: 100px 0;
}
.add {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--add);
    font-size: 17px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
}
.reset {
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--remove);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#alert {
    text-align: center;
    color: red;
    font-size: 35px;
    display: none;
}

/* -------------------------------------------- */

#styleText {
    display: none;
}
.result {
    margin: 0 1%;
    padding-bottom: 50px;
    width: 80%;
}
#productHTML {
    height: 400px;
    width: 600px;
    border: 1px solid;
    overflow-y:scroll;
    font-family: monospace;
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
}
.productStyle {
    height: 600px;
    width: 100%;
    border: 1px solid;
    overflow-y:scroll;
    margin-right: 100px;
    font-family: sans-serif;
    background-color: white;
}
#alert {
    display: none;
}
#backgroundImage {
    display: none;
}
.productHTML {
    font-family: sans-serif;
    background-color: white;
}
.resultText {
    margin-left: 50%;
    transform: translateX(-40%);
    padding-bottom: 50px;
}
.resultText h2 {
    text-align: left;
    margin-top: 100px;
}
.resultTextResultat h3 {
    color: white;
    font-size: 16px;
    font-weight: 100;
}





@media (max-width: 850px) {
    .result {
        display: block;
    }
    #productHTML, .productStyle {
        width: 100%;
    }
    .resultTextResultat {
        padding-top: 50px;
    }
    .resultText h2, .resultTextResultat h2 {
        text-align: left;
    }
}